// Add SASS theme customizations here..

//$enable-grid-classes:false;

@import "variables";

/*
$enable-gradients:false;
$spacer:1rem;
$border-width:1px;
$btn-border-radius:.25rem;
 */
@import "~bootstrap/scss/bootstrap";
