{% extends 'layout_admin.html.twig' %}

{% block title %}Nouveau fichier{% endblock %}

{% block formg_start %}{{ form_start(form) }}{% endblock formg_start %}
{% block formg_end %}{{ form_end(form) }}{% endblock formg_end %}

{% block actionbtns %}
	<a href="{{ path('adminz_variofichier_index') }}" class="btn btn-secondary"><i class="fa fa-chevron-left"></i> Retour à la liste</a>
	<button type="submit" class="btn btn-success">Enregistrer</button>
{% endblock actionbtns %}

{% block actionbartitle %}
	<h2>Ajouter un fichier</h2>
{% endblock actionbartitle %}

{% block content %}
    {{ form_widget(form) }}
{% endblock %}
