{% extends 'layout_public.html.twig' %}

{% block title %}Mise à jour firmware{% endblock %}

{% block header %}{% endblock %}

{% block maincontent %}
<h3>{{ message }}</h3>
<br>

<a href="{{ path('index')}}" class="btn btn-primary">Retour à l'accueil</a>
{% endblock maincontent %}
